<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <img src="/assets/images/favicon.png" width="72" height="72" alt="Logo" class="h-15 w-15 pt-2 pb-2 mt-2 mb-2">
  <!-- Logo Text -->
  <span class="-translate-y-0.5"> MurapaBytes</span>
</a>
