<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold mt-5 mb-3 hover:text-blue-500 dark:hover:text-blue-400 transition duration-200 ease-in-out"
>
  <img
    src="/assets/images/favicon.png"
    width="64"
    height="64"
    alt="Logo"
    class="h-13 w-13 pt-2 pb-2 mt-2 mb-2"
  />
  <!-- Logo Text -->
  <span class="font-bold translate-y-0.5"> Murapadev</span>
</a>
